.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}

.wrapper {
  height: 100%;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wrapper:hover > .icon {
  filter: brightness(0%);
}
