.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  height: inherit;
  justify-content: center;
}

.modalBackground {
  background-color: #fff;
  border-radius: 4px;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.button {
  width: 100%;
  background-color: #7749f8;
}

.button:hover {
  background-color: #5f3ac6;
}
